@model PontoCerto.Application.DTOs.PessoaDto

@{
    ViewBag.Title = "Cadastrar pessoa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cadastrar Nova Pessoa</h2>

<form asp-action="CadastrarPessoa" method="post">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label asp-for="Nome" class="control-label"></label>
        <input name="Nome" asp-for="Nome" class="form-control" placeholder="Insira seu nome" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ValorHora" class="control-label"></label>
        <input name="ValorHora" asp-for="ValorHora" class="form-control" type="number" step="0.01" placeholder="Insira o valor da hora" />
        <span asp-validation-for="ValorHora" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Salvar" class="btn btn-primary" />
    </div>
</form>

<a asp-action="Index" class="btn btn-secondary">Voltar</a>
