@model PontoCerto.Application.DTOs.PessoaDto

@{
    ViewBag.Title = "Atualizar Pessoa";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var departamentoId = ViewBag.DepartamentoId;
}

<h2>Editar Pessoa</h2>

<form action="/Pessoa/Editar?pessoaId=@Model.Id" method="post">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label asp-for="Nome" class="control-label">Nome</label>
        <input name="Nome" asp-for="Nome" class="form-control" value="@Model.Nome" />
    </div>

    <div class="form-group">
        <label asp-for="ValorHora" class="control-label">Valor Hora</label>
        <input name="ValorHora" asp-for="ValorHora" class="form-control" type="number" step="0.01" value="@Model.ValorHora" />
    </div>

    <div class="form-group">
        <input type="submit" value="Salvar" class="btn btn-primary" />
    </div>
</form>

<a @Url.Action("Index", "Pessoa", new { departamentoId = @departamentoId })" class="btn btn-secondary">Voltar</a>
