@model IEnumerable<PontoCerto.Application.DTOs.PessoaDto>

@{
    ViewBag.Title = "Lista de Pessoas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Pessoas</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Valor Hora</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.ValorHora.ToString("C")</td>
                <td>
                    <a href="/Pessoa/BuscarPessoaPorId?pessoaId=@item.Id">Detalhes</a>
                    <a href="/Pessoa/AtualizarPessoa?pessoaId=@item.Id">Editar</a>
                    <a href="/Pessoa/ExcluirPessoa?pessoaId=@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="/Pessoa/CadastrarPessoa" class="btn btn-primary">Adicionar Nova Pessoa</a>
