@model IEnumerable<PontoCerto.Application.DTOs.PessoaDto>

@{
    ViewBag.Title = "Lista de Pessoas";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var departamentoId = ViewBag.DepartamentoId;
}

<div class="d-flex justify-content-between align-items-center mb-3 mt-3">
    <h2>Lista de Pessoas</h2>
    <a href="/Pessoa/CadastrarPessoa?departamentoId=@departamentoId" class="btn btn-primary">Adicionar Nova Pessoa</a>
</div>


<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Valor Hora</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.ValorHora.ToString("C")</td>
                <td>
                    <a href="/Pessoa/BuscarPessoaPorId?pessoaId=@item.Id">Detalhes</a>
                    <a href="/Pessoa/AtualizarPessoa?pessoaId=@item.Id">Editar</a>
                    <a href="/Pessoa/ExcluirPessoaId?pessoaId=@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>

