@model PontoCerto.Application.DTOs.RegistroPontoDto

@{
    ViewBag.Title = "Cadastrar Registro Ponto";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var pessoaId = ViewBag.pessoaId;
}

<h2>Registrar Novo Ponto</h2>

<form action="/RegistroPonto/CadastrarRegistroPonto?pessoaId=@pessoaId" method="post">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label asp-for="Data" class="control-label"></label>
        <input asp-for="Data" class="form-control" type="date" />
        <span asp-validation-for="Data" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Entrada" class="control-label"></label>
        <input asp-for="Entrada" class="form-control" type="time" />
        <span asp-validation-for="Entrada" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Saida" class="control-label"></label>
        <input asp-for="Saida" class="form-control" type="time" />
        <span asp-validation-for="Saida" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Almoço" class="control-label"></label>
        <input asp-for="Almoço" class="form-control" type="time" />
        <span asp-validation-for="Almoço" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Registrar" class="btn btn-primary" />
    </div>
</form>

<a asp-action="Index" class="btn btn-secondary">Voltar</a>
