@{
    ViewBag.Title = "Página Inicial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bem-vindo à Aplicação de Gerenciamento de RH</h2>

<p>Escolha uma das opções abaixo para continuar:</p>

<div class="row">
    <div class="col-md-12">
        <a href="@Url.Action("Index", "Departamento")" class="btn btn-primary btn-lg btn-block">Gerenciar Departamentos</a>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-12">
        <form action="@Url.Action("Importar", "Departamento")" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div class="form-group">
                <label class="control-label">Caminho arquivos .csv</label>
                <input type="text" id="caminhoPasta" name="caminhoPasta" class="form-control" placeholder="Insira o caminho de onde está os arquivos" />
            </div>
            <button type="submit" class="btn btn-secondary btn-lg btn-block">Importar Registros de Ponto (CSV)</button>
        </form>
    </div>
</div>
