@{
    ViewBag.Title = "Página Inicial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sobre o Desafio</h2>

<p>
    O desafio de programação mais marcante da minha jornada até o momento foi este projeto. Durante o desenvolvimento, utilizei a tecnologia .NET Core e apliquei a arquitetura MVC para criar uma aplicação robusta e escalável.<br/>
    Este projeto foi particularmente enriquecedor, pois me permitiu revisitar e aplicar conceitos que eu não havia utilizado recentemente, como a implementação de views. O ritmo acelerado exigiu uma rápida adaptação e aprendizado, o que me possibilitou absorver uma grande quantidade de conhecimento em um curto período.<br />
    Embora esteja satisfeito com o resultado final, identifiquei algumas áreas que poderiam ter sido aprimoradas com mais tempo. Entre elas estão a implementação de validações de dados mais eficientes, o uso de logs em toda a aplicação para melhorar o monitoramento, e a integração de frameworks modernos como React ou Angular no front-end. Além disso, explorar o uso do Docker para containerização teria sido uma adição valiosa para a escalabilidade e portabilidade da aplicação.<br />
    Durante o desenvolvimento, me empolguei e fui além do que era originalmente solicitado, adicionando funcionalidades e melhorias extras. Essa experiência foi extremamente enriquecedora, pois me permitiu aprofundar ainda mais meus conhecimentos e explorar novas áreas do projeto. Embora essas melhorias não tenham sido parte dos requisitos iniciais, elas proporcionaram um aprendizado valioso.<br />
    A parte mais desafiadora deste teste foi implementar as regras para gerar um JSON corretamente a partir de um arquivo contendo as informações de todos os pontos dos usuários. Como foi a primeira vez que trabalhei com esse tipo de tarefa, o processo envolveu tanto aprendizado quanto aplicação prática, tornando a experiência extremamente gratificante.
</p>

<a href="@Url.Action("Index", "Home")" class="btn btn-secondary">Voltar</a>