@{
    ViewBag.Title = "Página Inicial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sobre o Desafio de Programação</h2>

<p>
    O desafio de programação que mais marcou minha jornada até o momento foi este projeto. Durante o desenvolvimento, utilizei a tecnologia .NET Core, aplicando a arquitetura MVC para criar uma aplicação robusta e escalável.
    O projeto foi particularmente enriquecedor, pois me permitiu revisitar e aplicar conceitos que não havia utilizado recentemente, como a implementação de views e a integração do front-end com o back-end. O ritmo acelerado do projeto exigiu uma rápida adaptação e aprendizado, permitindo-me absorver uma quantidade significativa de conhecimento em um curto período.
    Embora satisfeito com o resultado final, identifiquei algumas áreas que, com mais tempo, poderiam ter sido aprimoradas. Entre elas, a implementação de validações de dados mais eficientes, o uso de logs em toda a aplicação para melhor monitoramento, e a integração de frameworks modernos como React ou Angular no front-end. Além disso, explorar o uso de Docker para containerização teria sido uma adição valiosa para a escalabilidade e portabilidade da aplicação.
</p>

<a href="@Url.Action("Index", "Home")" class="btn btn-secondary">Voltar</a>