@model PontoCerto.Application.DTOs.DepartamentoDto

@{
    ViewBag.Title = "Excluir Departamento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Excluir Departamento</h2>

<h3>Deseja realmente excluir este departamento?</h3>
<div>
    <h4>Nome Departamento: @Model.Nome</h4>
    <p>Valor Total Pago: @Model.ValorTotalPago.ToString("C")</p>
    <p>Valor Total Descontado: @Model.ValorTotalDescontado.ToString("C")</p>
</div>

<form action="/Departamento/ExcluirDepartamento?departamentoId=@Model.Id" method="post">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <input type="submit" value="Excluir" class="btn btn-danger" />
    </div>
</form>


<a href="/Departamento" class="btn btn-secondary">Cancelar</a>
