@model PontoCerto.Application.DTOs.DepartamentoDto

<h2>Excluir Departamento</h2>

<h3>Você realmente deseja excluir este departamento?</h3>
<div>
    <h4>@Model.Nome</h4>
    <p>Valor Total Pago: @Model.ValorTotalPago.ToString("C")</p>
    <p>Valor Total Descontado: @Model.ValorTotalDescontado.ToString("C")</p>
</div>

<form asp-action="ExcluirDepartamento" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Excluir" class="btn btn-danger" />
</form>
<a asp-action="Index" class="btn btn-secondary">Cancelar</a>
