@model IEnumerable<PontoCerto.Application.DTOs.DepartamentoDto>

@{
    ViewBag.Title = "Lista Departamentos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-between align-items-center mb-3 mt-3">
    <h2 class="mb-0">Lista de Departamentos</h2>
    <a href="/Departamento/CadastrarDepartamento" class="btn btn-primary">Adicionar Novo Departamento</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Valor Total Pago</th>
            <th>Valor Total Descontado</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.ValorTotalPago.ToString("C")</td>
                <td>@item.ValorTotalDescontado.ToString("C")</td>
                <td>
                    <a href="/Departamento/BuscarDepartamentoPorId?departamentoId=@item.Id">Detalhes</a> |
                    <a href="/Departamento/AtualizarDepartamento?departamentoId=@item.Id">Editar</a> |
                    <a href="/Departamento/BuscarParaExcluirDepartamento?departamentoId=@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>